#header {
  background: url(https://images.unsplash.com/photo-1477948879622-5f16e220fa42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG1vdW50YWluJTIwcmFuZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60)
    center center / cover no-repeat;
}
body {
  background-color: gainsboro;
}
#login-status,
#header2,
#header3,
#welcome-user,
#filter,
#instr,
#submit-btn,
#cancel-btn,
#unchallenged-list,
#test-plane {
  color: royalblue;
}

th,
#label-un,
#label-password,
.card-title {
  color: rgb(235, 132, 14);
}

#success-messages {
  font-size: xx-large;
  margin-top: 2%;
  margin-left: 10%;
  color: rgb(92, 240, 6);
}

#defense-sky {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: grid;
  /* grid-template-columns: repeat(3, auto); */
}

.grid-cell {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.grid-cell:hover {
  background-color: red;
}

.grid-cell-outer-top {
  width: 50px;
  text-align-last: center;
  height: 50px;
}

.grid-cell-outer-side {
  text-align-last: center;
  text-align: right;
  width: 50px;
  height: 50px;
}

.display-3 {
  color: rgb(0, 0, 0);
  align-items: center;
  margin-top: 2%;
  margin-inline: 10%;
}

.lead {
  color: rgb(0, 0, 0);
}

#add-plane {
  height: 600px;
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#ffb700, #38ef5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
