#header {
  background: url(https://images.unsplash.com/photo-1477948879622-5f16e220fa42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG1vdW50YWluJTIwcmFuZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60)
    center center / cover no-repeat;
}
body {
  background-color: gainsboro;
}

nav {
  background-color: gainsboro;
}

form .login,
#add-plane {
  background-color: gainsboro;
}

img {
  background-color: gainsboro;
}

ul .dropdown-menu {
  background-color: gainsboro;
}

select,
input,
textarea {
  background-color: gainsboro;
}

div #filter,
#card-body-defense,
#card-body-defense-params {
  background-color: gainsboro;
}

#login-status,
#header2,
#lobby-link,
#change-email,
#change-password,
#header3,
#logout-btn,
#welcome-user,
#filter,
#instr,
#set-params-btn,
#reset-params-btn,
#evaluate-btn,
#open-btn,
#submit-btn,
#cancel-btn,
#unchallenged-list,
#test-plane {
  color: royalblue;
}

th,
#label-un,
#label-email,
#label-confirm-password,
#label-password,
#battle-defense-title,
#battle-attack-title,
.card-title {
  color: rgb(235, 132, 14);
}

#defense-setup-timer,
#defense-setup-timer1 {
  font-size: xx-large;
  margin-top: 2%;
  margin-left: 2%;
  color: rgb(235, 132, 14);
}

#success-messages,
#plane-message {
  width: 8em;
  font-size: xx-large;
  margin-top: 2%;
  margin-left: 2%;
  color: rgb(92, 240, 6);
}

.error-message {
  width: 8em;
  font-size: xx-medium;
  margin-top: 2%;
  margin-left: 2%;
  color: rgb(240, 6, 6);
}

.success-message {
  width: 8em;
  font-size: xx-medium;
  margin-top: 2%;
  margin-left: 2%;
  color: rgb(3, 150, 11);
}

#defense-sky {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
}

#battle-defense-sky {
  padding: 10%;
  position: absolute;
  top: 51%;
  left: 23%;
  transform: translate(-50%, -50%);
  display: grid;
}

#defense-messages {
  position: absolute;
  top: 90%;
  left: 13%;
  transform: translate(-50%, -50%);
  display: grid;
}

#battle-attack-sky {
  padding: 10%;
  position: absolute;
  top: 51%;
  left: 68%;
  transform: translate(-50%, -50%);
  display: grid;
}
#attack-messages {
  position: absolute;
  top: 90%;
  left: 58%;
  transform: translate(-50%, -50%);
  display: grid;
}

#message {
  font-style: bold;
  font-size: 1.5rem;
}

.battle {
  padding: 2%;
  width: 40rem;
  height: 50rem;
  background-color: white;
}

.grid-cell {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
}

#defense-sky .grid-cell:hover,
#battle-attack-sky .grid-cell:hover {
  background-color: red;
  cursor: pointer;
}

.grid-cell-outer-top {
  width: 50px;
  padding: 20px;
  height: 50px;
}

.grid-cell-outer-side {
  padding: 20px;
  width: 50px;
  height: 50px;
}

.display-3 {
  color: rgb(0, 0, 0);
  align-items: center;
  margin-top: 2%;
  margin-inline: 10%;
}

.lead {
  color: rgb(0, 0, 0);
}

#add-plane {
  height: 600px;
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#ffb700, #38ef5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
